$black:       #232323;
$black-shadow:#080707;
$dark-grey:   #424242;
$grey:        #555555;
$light-grey:  #888888;
$shadow-grey: #979797;
$white:       #FFF;
$red:         #F65261;
$dark-red:    #c7424d;
