@mixin link {
  text-decoration: none;
  color: inherit;
  transition: all ease 0.3s;

  &:hover {
    color: inherit;
  }
}

@mixin button {
  background: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all ease 0.3s;
}

@mixin container {
  max-width: 1120px;
  margin: 0 auto;
}
