@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-display: auto;
  src: local("Montserrat"), url("/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat";  
  font-weight: 400;
  font-display: auto;
  src: local("Montserrat"), url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: auto;
  src: local("Montserrat"), url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: auto;
  src: local("Montserrat"), url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("/fonts/Montserrat-Black.ttf");
  font-weight: 900;
  font-display: auto;
}

$vue-font: "Montserrat", Verdana, sans‑serif;

$font-size-xs: 14px;
$line-height-xs: 18px;
$font-size-s: 16px;
$line-height-s: 20px;
$font-size-m: 20px;
$line-height-m: 24px;
$font-size-l: 40px;
$line-height-l: 48px;
