@import './colors.scss';
@import './typography.scss';

$font-color: $white;
$font-color-secondary: $red;
$font-color-secondary-hover: $dark-red;
$font-family: $vue-font;
$bg-color: $black;
$button-bg-color: $red;
$button-hover-bg-color: $dark-red;
$logo-color:  $red;
